@charset "utf-8";

#wrap{
    header{
        position: relative;
        padding-top: 5rem;
    
        >.ico-logo{
            display: flex;
            align-items: center;
            justify-content: center;
            >a{
                display: inline-block;
                width: 202px;
                height: 20px;
                text-indent: -999em;
                background-image: url(./../images/top_logo.gif);
            }
        }
    
        >.gnb-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 30px;
            >.gnb{
                >ul{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    >li{
                        padding: 30px 50px 0px 50px;
                        font-size: 16px;
    
                        >.lnb{
                            display: none;
                            position: absolute;
                            z-index: 20;
                            padding-top: 30px;
                            >li{
                                padding: 5px 0;
                                
                                &:hover>a{color: #333;}
                                &:first-child{width: 210px;}
    
                                >a{
                                   display: inline-block;
                                   font-size: 14px;
                                   color: rgb(122, 122, 122)
                                }
                            }
                        }
                        
                        >a{
                            color: #3c3c3c;
                            padding-bottom: 5px;
    
                            &:hover{border-bottom: 3px solid #000;}
                        }
                    }
                }
            }
        }
    
        >.bg_lnb{
            display: none;
            position: absolute;
            width: 100%;
            height: 200px;
            text-indent: -999em;
            background-color: #fff;
            border-bottom: 2px solid #243c84;
            z-index: 10;
        }
    
        >.nav-wrap{
            background-color:#243c84;
            position: absolute;
            top: 0;
            width: 100%;
            >.top-nav{
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                >.top-nav_util{
                    display: flex;
                    align-items: center;
    
                    >ul{
                        display: flex;
                        align-items: center;
                        >li{
                            padding: 17px 20px;
                            background: left url(../images/util_line.gif) no-repeat;
        
                            &:first-child{background: none;}
        
                            >a{
                                color: #fff;
                            }
                            
                            &.on{background-color: #fff;}
                            &.on>a{color: #243c84;}
                            &.on_shadow{background-image: none;}
                        }
                    }
    
                    >.top-sns{
    
                       >ul{
                        display: flex;
                            >li{
                                &.top-sns_blog{background: url(../images/top_sns01.png) no-repeat;}
                                &.top-sns_instagrame{background: url(../images/top_sns02.png) no-repeat;}
                                &.top-sns_facebook{background: url(../images/top_sns03.png) no-repeat;}
                                &.top-sns_youtube{background: url(../images/top_sns04.png) no-repeat;}
    
                                padding: 0 2px;
    
                                >a{
                                    display: inline-block;
                                    width: 22px;
                                    height: 22px;
                                    text-indent: -999em;
                                }
                            }
                       }
                    }
    
                    >.top-search{
                        padding: 0 30px 0 15px;
                        >.top-search_box{
                            position: relative;
                            >button{
                                position: absolute;
                                top: 8px;
                                right: 15px;
                                width: 15px;
                                height: 16px;
                                text-indent: -999em;
                                background: url(../images/icon_search.gif) right center /100% no-repeat;
                            }
                            >input{
                                display: inline-block;
                                padding: 7px 0;

                                &:enabled{background-color: #fff;}
                            }
                        }
                    }
    
                }
            }
        }
    }
    
    section{
        
        >.banner-wrap{
            display: flex;
            align-items: center;
            justify-content: center;

            >.banner-fixed{
                position: fixed;
                top: 175px;
                right: 150px;
                z-index: 10;

                >ul{
                    display: flex;
                    text-indent: -999em;

                    >.banner-fixed_bg{
                        width: 200px;
                        height: 322px;
                        background-image: url(../images/sizeup_bn.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        >a{
                            display: block;
                            height: 322px;
                        }
                    }

                    >.banner-fixed_close{
                        position: relative;
                        width: 22px;
                        >a{
                            position: absolute;
                            left: 5px;
                            top: 0;
                            display: block;
                            width: 22px;
                            height: 22px;
                            background: url(../images/main_event_bn_close.png) 100% no-repeat;
                        }
                    }
                }
                >.banner-fixed_pagination{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 8px;
                    >li{
                        width: 12px;
                        margin: 0 5px;
                        background-color:#fff;
                        border-radius: 50%;

                        &.on,
                        &:hover{background-color: #243c84;}
                        
                        >a{
                            display: block;
                            height: 12px;
                            text-indent: -999em;
                        }
                    }
                }
            }

            >.banner{
                overflow: hidden;
                position: relative;
                width: 1920px;
                height: 620px;

                >ul{
                    display: flex;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: calc(1920px * 4);
                    >li{
                        width: 1920px;
                        height: 620px;
    
                        &.banner-1{background-image: url(../images/slide1.jpg);}
                        &.banner-2{background-image: url(../images/slide2.jpg);}
                        &.banner-3{background-image: url(../images/slide3.jpg);}
                        &.banner-4{background-image: url(../images/slide4.jpg);}
                        
                        >a{
                            display: block;
                            height: 620px;
                            text-indent: -999em;
                        }
                    }
                }

                >.banner-pagination{
                    position: absolute;
                    width: 100%;
                    bottom: 20px;
                    >ul{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        >li{
                            width: 12px;
                            margin: 0 5px;
                            background-color:#fff;
                            border-radius: 50%;

                            &.on,
                            &:hover{background-color: #243c84;}
                            >a{
                                display: block;
                                height: 12px;
                                text-indent: -999em;
                            }
                        }
                    }
                }

                >.banner-navigation{
                    display: inline-block;
                    position: absolute;
                    width: 24px;
                    height: 45px;
                    text-indent: -999em;

                    &.prev{
                        left: 10px;
                        top: 50%;
                        background: url(../images/main_visual_prev.png);
                    }
                    &.next{
                        right: 30px;
                        top: 50%;
                        background-image: url(../images/main_visual_next.png);
                    }
                }
            }
            
        }

        >.beanist-wrap{
            background: url(../images/main_beanist_bg.gif) center /100% no-repeat;

            >.beanist-information{
                padding-top: 100px;
                font-size: 25px;
                color: #333;
                text-align: center;

                >h2{
                    font-weight: 400;
                    >span{
                        font-weight: 600;
                        color: #90470c;
                    }
                }

                >.hr-line{
                    padding: 70px 0;

                    >span{
                        display: inline-block;
                        width: 100px;
                        height: 1px;
                        text-indent: -999em;
                        background-color: #000;
                    }
                }

            }

            >.beanist-product_box{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 70px;

                >.beanist-product{
                    width: calc(259px * 4);
                    height: 215px;
                    padding: 0 300px;
                    >ul{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: calc(259px * 4);
                        height: 215px;

                        >li{
                            width: 259px;
                            height: 215px;
                            margin: 0 20px;
                            background-size: contain;
                            background-repeat: no-repeat;


                            &.beanist-americano_1{background-image: url(../images/main_beanist_ame01.png);}
                            &.beanist-americano_2{background-image: url(../images/main_beanist_ame02.png);}
                            &.beanist-americano_3{background-image: url(../images/main_beanist_ame03.png);}

                            &.beanist-latte_1{background-image: url(../images/main_beanist_latte01.png);}
                            &.beanist-latte_2{background-image: url(../images/main_beanist_latte02.png);}
                            &.beanist-latte_3{background-image: url(../images/main_beanist_latte03.png);}
                            &.beanist-latte_4{background-image: url(../images/main_beanist_latte04.png);}

                            &.beanist-mix_1{
                                background-image: url(../images/main_beanist_mix01.png);
                            }
                            &.beanist-mix_2{
                                background-image: url(../images/main_beanist_mix02.png);}
                            >a{
                                display: block;
                                height: 270px;
                                >.beanist-txt{
                                    display: flex;
                                    height: 100%;
                                    flex-flow: column;
                                    justify-content: flex-end;
                                    text-indent: 15px;
                                    text-transform: capitalize;
                                    >div{
                                        color: #663207;
                                        font-size: 18px;
                                        font-weight: 800;
                                        line-height: 1.5;
                                    }
                                    >span{
                                        display: inline-block;
                                        color: #e29e67;
                                        font-size: 14px;
                                        font-weight: 800;
                                        text-indent: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            >.beanist-paginatioin{
                padding: 30px 0;
                >ul{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    >li{
                        width: 12px;
                        margin: 0 5px;
                        background-color:#fff;
                        border-radius: 50%;

                        &.on,
                        &:hover{background-color: #90470c;}
                        >a{
                            display: block;
                            height: 12px;
                            text-indent: -999em;
                        }
                    }
                }
            }
        }

        >.dream-factory_wrap{
            background: url(../images/dream_factory_bg.gif) center / 100% repeat-y;
            >.dream-factory{
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                padding: 100px 0;

                >h2{
                    width: 1036px;
                    height: 87px;
                    text-indent: -999em;
                    background: url(../images/dream_factory_txt.png) center no-repeat;
                }

                >.dream-factory_bg-box{
                    position: relative;
                    width: 100%;
                    >.dream-factory_bg{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 900px;
                        height: 335px;
                        text-indent: -999em;
                        background: url(../images/dream_factory.png) left center / cover no-repeat;
                    }
                }

                >.dream-factory_explain{
                    width: 1036px;
                    color: #fff;
                    font-size: 18px;
                    padding: 30px 0;

                    >span{
                        display: inline-block;
                        font-size: 32px;
                        font-weight: 800;
                    }

                    >.dream-factory_txt{
                        line-height: 1.5;
                        padding: 30px 0;
                    }

                    >.dream-factory_link-box{
                        display: flex;
                        >.dream-factory_link{
                            padding-right: 10px;
                            >a{
                                display: inline-block;
                                font-size: 16px;
                                color: #fff;
                                font-weight: 800;
                                padding: 12px 20px;
                                border: 1px solid #fff;
     
                             &:hover{
                                color: #333;
                                background-color: #fff;
                             }
                            }
                        }
                    }
                }

            }
            
        }

        >.ediya-menu_box{
            background: url(../images/block02_bg.jpg) center bottom / 100% no-repeat;
            >.ediya-menu{
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                padding: 140px 0;
                color: #fff;

                >h2{
                    font-size: 40px;
                    font-weight: 400;
                    >b{font-weight: 800;}
                }

                >.hr-line{
                    padding-top: 50px;
                    >span{
                        display: inline-block;
                        width: 100px;
                        height: 1px;
                        text-indent: -999em;
                        background-color: #fff;
                    }
                }

                >p{
                    font-size: 20px;
                    padding: 40px 0;
                }

                >a{
                    display: inline-block;
                    font-size: 16px;
                    color: #fff;
                    font-weight: 800;
                    border: 1px solid #fff;
                    padding: 10px 50px;

                    &:hover{
                        color: #333;
                        background-color: #fff;
                    }
                }
            }
        }

        >.ediya-founded_wrap{
            background: url(../images/company_bg.jpg) center / 100% no-repeat;

            >.ediya-founded{
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: flex-end;
            
                >h2{
                    color: #fff;
                    font-size: 40px;
                    font-weight: 400;
                    line-height: 1.2;
                    padding: 70px 0 0 430px;
                }

                >.ediya-founded_explain{
                    color: #fff;
                    font-size: 18px;
                    padding: 20px 0 30px 400px;

                    >span{
                        display: inline-block;
                        font-size: 32px;
                        font-weight: 800;
                    }

                    >.ediya-founded_txt{
                        line-height: 1.5;
                        padding: 30px 0;
                    }

                    >.ediya-founded_link-box{
                        display: flex;
                        padding-bottom: 50px;
                        >.ediya-founded_link{
                            padding-right: 10px;
                            >a{
                                display: inline-block;
                                font-size: 16px;
                                color: #fff;
                                font-weight: 600;
                                padding: 12px 20px;
                                border: 1px solid #fff;
     
                             &:hover{
                                color: #333;
                                background-color: #fff;
                             }
                            }
                        }
                    }
                }

            }
            
        }

        >.ediya-notice_wrap{
            position: relative;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            &::before{
                position: absolute;
                content: '';
                top: 0;
                width: 100%;
                background: #efefef;
                padding-bottom: 350px;
                z-index: -1;
            }

            >.ediya-notice{
                position: relative;
                display: flex;
                padding-top: 100px;

                >.ediya-notice_franchisee{
                    width: 330px;
                    height: 330px;
                    color: #fff;
                    background: url(../images/main_franchise_bg.jpg) no-repeat;
                    margin-right: 10px;

                    &--store{
                        background: url(../images/main_store_bg.jpg) no-repeat;

                        >.ediya-notice_franchisee__box{
                            padding: 50px 30px 0;
                            color: #fff;
                            >a{
                                display: block;
                                >h2{font-size: 20px;}
    
                                >.hr-line{
                                    padding: 30px 0;
                                    >span{
                                        display: inline-block;
                                        width: 50px;
                                        height: 1px;
                                        text-indent: -999em;
                                        background-color: #fff;
                                    }
                                }
        
                                >p{
                                    font-size: 16px;
                                }
                            }
                            >h2{font-size: 20px;}
    
                            >.hr-line{
                                padding: 30px 0 20px 0;
                                >span{
                                    display: inline-block;
                                    width: 50px;
                                    height: 1px;
                                    text-indent: -999em;
                                    background-color: #fff;
                                }
                            }
    
                            >p{
                                font-size: 16px;
                                line-height: 1.5;
                                padding-bottom: 30px;
                            }
                            >.c-search{
                                position: relative;
                                >button{
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    width: 44px;
                                    height: 44px;
                                    text-indent: -999em;
                                    background: center/100% url(../images/main_store_btn.png) no-repeat;
                                }
                                >input{
                                    width: 100%;
                                    padding: 8px 0;
                                    line-height: 22px;
                                    border: 3px solid #ddd;
        
                                    &:enabled{background-color: #15275f;}
        
                                    &::placeholder {
                                      color: #fff;
                                      font-weight: 600;
                                      text-indent: 20px;
                                    }
                                }
                            }
                        }
                    }

                    >a{
                        display: block;
                        height: 100%;

                        >.ediya-notice_franchisee__box{
                            padding: 50px 30px 0;
                            color: #fff;
                            >a{
                                display: block;
                                >h2{font-size: 20px;}
    
                                >.hr-line{
                                    padding: 30px 0;
                                    >span{
                                        display: inline-block;
                                        width: 50px;
                                        height: 1px;
                                        text-indent: -999em;
                                        background-color: #fff;
                                    }
                                }
        
                                >p{
                                    font-size: 16px;
                                }
                            }
                            >h2{font-size: 20px;}
    
                            >.hr-line{
                                padding: 30px 0 20px 0;
                                >span{
                                    display: inline-block;
                                    width: 50px;
                                    height: 1px;
                                    text-indent: -999em;
                                    background-color: #fff;
                                }
                            }
    
                            >p{
                                font-size: 16px;
                                line-height: 1.5;
                                padding-bottom: 30px;
                            }
                            >.c-search{
                                position: relative;
                                >button{
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    width: 44px;
                                    height: 44px;
                                    text-indent: -999em;
                                    background: center/100% url(../images/main_store_btn.png) no-repeat;
                                }
                                >input{
                                    width: 100%;
                                    padding: 8px 0;
                                    line-height: 22px;
                                    border: 3px solid #ddd;
        
                                    &:enabled{background-color: #15275f;}
        
                                    &::placeholder {
                                      color: #fff;
                                      font-weight: 600;
                                      text-indent: 20px;
                                    }
                                }
                            }
                        }
                    }


                }

                >.ediya-notice_news{

                    >.ediya-news{
                        display: flex;
                        justify-content: space-between;
                        padding: 16px 0 30px 10px;
                        >h2{
                            font-size: 20px;
                            color: #3c3c3c;
                        }
                        >span{
                            display: block;
                            width: 47px;
                            height: 8px;
                            text-indent: -999em;
                            background: url(../images/main_news_more.png) no-repeat;
                            >a{
                                display: block;
                            }
                        }
                    }

                    >.ediya-news_list{
                        display: flex;
                        justify-content: space-between;
                        color: #969494;
                        font-size: 14px;
                        font-weight: 600;
                        padding: 0 0 15px 10px;

                        >span{
                            display: inline-block;
                            padding-left: 100px;
                        }
                    }

                    >.ediya-notice_brochure{
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 10px;
           
                        &::before{
                            position: absolute;
                            content: '';
                            bottom: 0;
                            display: block;
                            width: 100%;
                            background: #cbc3b2;
                            padding-bottom: 140px;
                            z-index: -1;
                        }            

                        >.ediya-notice_brochure__dowwn{
                            position: relative;
                            color: #fff;
                            font-size: 20px;
                            font-weight: 600;
                            padding: 20px 30px 30px;

                            &::before{
                                position: absolute;
                                display: block;
                                content: '';
                                width: 30px;
                                height: 20px;
                                bottom: 0;
                                background: url(../images/main_brochure_arrow.png) no-repeat;
                            }
                        }
                        >span{
                            display: block;
                            width: 175px;
                            height: 165px;
                            text-indent: -999em;
                            background: url(../images/main_brochure_img.png) no-repeat;

                        }
                    }
                }

            }
        }
    }

    footer{
        background-color: #262626;
        >.info-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid rgb(109, 109, 109);
            >.info-area{
                >ul{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 15px 0 15px 230px;

                    >li{
                        color: #818181;
                        padding: 0 20px;

                        >.c-select{
                            display: inline-block;
                            width: 100%;
                            padding: 8px 100px 8px 20px;
                            font-size: 12px;
                            color: #818181;
                            border-radius: 1px;
                            background: #fff url(../images/language_arrow.gif) right 15.5px center/12px 8px no-repeat;
                            appearance: none;

                            >option{text-align: left;}
                        }
                        &.on>a{color: #fff;}
                    }
                }
            }
        }

        >.ediya-info-area{
            position: relative;
            width: 1150px;
            color: #686767;
            text-align: center;
            margin: 0 auto;
            >h2{
                font-size: 30px;
                font-weight: 800;
                padding: 40px 0;
            }

            >.info-ico{
                position: absolute;
                top: 25px;
                right: 0;
                display: inline-block;
                width: 100px;
                height: 100px;
                text-indent: -999em;
                background: url(../images/footer_ccm.png);
            }

            >.address-area{
                >.address-box{
                    padding: 2px 0;
                    font-size: 12px;
                    font-weight: 600;

                    &--copyright{padding: 20px 0;}

                    >span{display: inline-block;}
                }
            }
        }

        >.publish-txt{
            color: #fff;
            font-size: 16px;
            text-align: center;
            padding-bottom: 20px;
        }
    }
}
